/* Blog Detail Typography Styles */
.blog-detail-content h1,
.blog-detail-content h2,
.blog-detail-content h3,
.blog-detail-content h4,
.blog-detail-content h5,
.blog-detail-content h6 {
  color: #555;
  margin-bottom: 15px;
  margin-top: 0;
  text-rendering: optimizeSpeed;
  width: 100%;
}

.blog-detail-content .h1,
.blog-detail-content h1 {
  font-size: 1.7em;
}

.blog-detail-content .h1,
.blog-detail-content .h2,
.blog-detail-content h1,
.blog-detail-content h2 {
  line-height: 1.3;
}

.blog-detail-content .h2,
.blog-detail-content h2 {
  font-size: 1.6em;
}

.blog-detail-content .h3,
.blog-detail-content h3 {
  font-size: 1.25em;
}

.blog-detail-content .h4,
.blog-detail-content h4 {
  font-size: 1.125em;
}

.blog-detail-content .h5,
.blog-detail-content h5 {
  font-size: 1em;
}

.blog-detail-content .h6,
.blog-detail-content h6 {
  font-size: 0.85em;
  opacity: 0.8;
}

.blog-detail-content p {
  margin-bottom: 16px;
}
